<h1><%= link_to '전체 별점 내역', '/' %></h1>

<%= link_to '글 추가', "/article/new" %>

<table>
    <tr>
        <th>제목</th>
        <th>내용</th>
    </tr>
<% @articles.each do |article| %>
    <tr>
        <td><%= article.title %></td>
        <td><%= article.content %></td>
        <td><%= link_to '보기', "/article/show/#{article.id}" %></td>
        <td><%= link_to '수정', "/article/edit/#{article.id}" %></td>
        <td><%= link_to '삭제', "/article/destroy/#{article.id}", data: { confirm: "삭제하시겠습니까?" } %></td>
    </tr>
<% end %>
</table>