<%= stylesheet_link_tag "chatrooms" %>

<div class="table-area">
    <h3>나의 채팅방 현황</h3>
    
    <table class="table table-hover">
        <thead class="thead-light">
            <th scope="col" class="ground_list">번호</th>
            <th scope="col" class="ground_list">채팅방 이름</th>
            <th scope="col" class="ground_list">채팅방의 게시물 이름</th>
            <th scope="col" class="ground_list">보기</th>
        </thead>
        <tbody>
            <% @my_chatrooms.each do |chatroom| %>
                <tr>
                    <td scope="row"><%= chatroom.id %></td>
                    <td><%= chatroom.name %></td>
                    <td><%= chatroom.article.title %></td>
                    <td><%= link_to '보기', "/chatroom/show/#{chatroom.id}" %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>