<%= stylesheet_link_tag "myground" %>
<div class="table-area">
    <div class="table-title"><h2>현재 진행 중인 그라운드</h2></div>
    
    <table class="table table-hover">
        <thead class="thead-light">
            <tr><th scope="col" class="ground_list">번호</th>
                <th scope="col" class="ground_list">제목</th>
                <th scope="col" class="ground_list">장소</th>
                <th scope="col" class="ground_list">작성자</th>
            </tr>
        </thead>
        <tbody>
        <% @my_all.each do |article_id| %>
            <% if Article.find(article_id).active == true %>
            <tr>
                <% if Article.find(article_id).active %>
                    <td scope="row"><%= link_to article_id, "/article/show/#{article_id}" %></td>
                    <td><%= link_to Article.find(article_id).title, "/article/show/#{article_id}" %></td>
                    <td><%= link_to Article.find(article_id).place, "/article/show/#{article_id}" %></td>
                    <td><%= link_to User.find(Article.find(article_id).user_id).email, "/article/show/#{article_id}" %></td>
                    <!--<td><%= Article.find(article_id).active %></td>-->
                    <!--<td><%= link_to '보기', "/article/show/#{article_id}" %></td>-->
                <% end %>
            </tr>
            <% end %>
        <% end %>
        </tbody>
    </table>
    
    
    <div class="table-title"><h2>내가 참여한 전체 그라운드</h2></div>
    
    <table class="table table-hover">
        <thead class="thead-light">
            <tr><th scope="col" class="ground_list">번호</th>
                <th scope="col" class="ground_list">제목</th>
                <th scope="col" class="ground_list">장소</th>
                <th scope="col" class="ground_list">작성자</th>
            </tr>
        </thead>
        <tbody>
        <% @my_all.each do |article_id| %>
            <tr>
                <% if Article.find(article_id).active %>
                    <td scope="row" class="active_list"><%= link_to article_id, "/article/show/#{article_id}" %></td>
                    <td  class="active_list"><%= link_to Article.find(article_id).title, "/article/show/#{article_id}" %></td>
                    <td  class="active_list"><%= link_to Article.find(article_id).place, "/article/show/#{article_id}" %></td>
                    <td  class="active_list"><%= link_to User.find(Article.find(article_id).user_id).email, "/article/show/#{article_id}" %></td>
                <% else %>
                    <td scope="row" class="done_list"><%= link_to article_id, "/article/show/#{article_id}" %></td>
                    <td class="done_list"><%= link_to Article.find(article_id).title, "/article/show/#{article_id}" %></td>
                    <td class="done_list"><%= link_to Article.find(article_id).place, "/article/show/#{article_id}" %></td>
                    <td class="done_list"><%= link_to User.find(Article.find(article_id).user_id).email, "/article/show/#{article_id}" %></td>
                <% end %>
            </tr>
        <% end %>
        </tbody>
    </table>
</div>