<%= stylesheet_link_tag "article" %>
<h1 class="title">함께할 친구를 찾습니다</h1>

<%= button_to '작성', "/article/new", class:"btn submit", :method => :get %>
<!--<button type="button" class="btn" style="float:right; margin-top: 10px; background-color: rgba(136, 176, 75);"><a href="/article/new" style="color:white;">작성</a></button>-->

<div id="grid">
<% @articles.reverse.each do |article| %>
  <div class="article-area">
        <%= link_to ("/article/show/#{article.id}") do %>
            <h2 class="article-title"><%= article.title %></h2>
            <p class="article-place"><%= article.place %></p>
            <p class="article-user">주최자: <%= article.user.email %></p>
            <p class="article-rating">평점: <%= RatingController.avg_rating(article.user.id)%></p>
            <p class="article-date">종료: <%= article.fin_time %></p>
            <p class="article-date">시작: <%= article.init_time %></p>
        <% end %>
  </div>
<% end %>
</div>

<script>
$ (function () {
    // #container 부하의 div가 그릿 레이아웃으로 정렬됩니다
    $ ("#grid"). vgrid ({
        easing : "easeOutQuint"
        time : 500
        delay : 20
        fadeIn : {
            time : 300
            delay : 50
        }
    });
});
</script>