<h3>함께할 친구를 찾습니다</h3>

<%= link_to '글 추가', "/article/new" %>

<hr>

<table style="border: 1px solid slategray; width:100%;">
    <tr>
        <th>제목</th>
        <th>장소</th>
        <th>작성자</th>
        <th colspan="3">관리</th>
    </tr>
<% @articles.each do |article| %>
    <tr>
        <td><%= article.title %></td>
        <td><%= article.place %></td>
        <td><%= User.find(article.user_id).email %></td>
        <td><%= link_to '보기', "/article/show/#{article.id}" %></td>
        <td><%= link_to '수정', "/article/edit/#{article.id}" %></td>
        <td><%= link_to '삭제', "/article/destroy/#{article.id}", data: { confirm: "삭제하시겠습니까?" } %></td>
    </tr>
<% end %>
</table>