<p>작성자 : <%= @user.email %></p>

<p>제목 : <%= @article.title %></p>

<p>장소 : <%= @article.place %></p>

<p>내용 : <%= @article.content %></p>

<p>시작시간 : <%= @article.init_time %></p>

<p>종료시간 : <%= @article.fin_time %></p>


<hr>

<%= link_to 'index 이동', '/' %>
<%= link_to '수정', "/article/edit/#{@article.id}" %>
<%= link_to '삭제', "/article/destroy/#{@article.id}", data: { confirm: "삭제하시겠습니까?" } %>