<h3>제목 : <%= @article.title %></h3>

<h3>장소 : <%= @article.place %></h3>

<h4>작성자 : <%= @user.email %></h4>

<p>내용 : <%= @article.content %></p>

<p>시작시간 : <%= @article.init_time %></p>

<p>종료시간 : <%= @article.fin_time %></p>

<!--만약 아직 완료된 게시물이 아닌 경우에만 보여줘야함.-->
<% if @article.active == true %>
  
  <p>현재 참여한 사람: </p>
  <p><% @participants.each do |participant| %>
  <%= participant.email %>, 별점: <%= RatingController.avg_rating(participant.id) %> | 
  <!-- 강제 참가취소 기능은 게시물 작성자만 가능하도록 만들 것!-->
    <% if @user == current_user %>
      <form action="/article/out/<%= @article.id %>" method="post" class="form-group">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" value="<%= participant.id %>" name="user_id" class="form-control">
        <button type="submit" class="btn">강퇴</button>
      </form>
    <% end %>
  <% end %></p>
  <p>강퇴는 게시물 권한자만 가능합니다</p>
  

  <!-- 참가 기능 추가 / 참고로, 본인인 경우에는 게시물 작성 시 자동으로 참가 되도록 만들어야함.-->
  <% if (@user.id != current_user.id) && (@participants & [current_user] != [current_user]) %>
  <form action="/article/participate/<%= @article.id %>" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <div class="form-group">
      <input type="hidden" name="user_id" class="form-control" value="<%= current_user.id %>">
      <input type="hidden" name="article_id" class="form-control" value="<%= @article.id %>">
    </div>
    <button type="submit" class="btn btn-primary">참가</button>
  </form>
  <% end %>
  
  <!-- 취소 기능 추가 -->
  <% if @participants & [current_user] == [current_user] %>
  <form action="/article/participate_cancel/<%= @article.id %>" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <div class="form-group">  
    <!-- 만약 게시물 작성인 본인이 참가 취소 할 경우 권한 넘겨주고 참여 취소 -->
    <% if @user.id == current_user.id %>
      <input type="text" name="passto_id" class="form-control" placeholder="게시물 권한을 넘겨줄 계정을 입력해주세요 넘겨줄 계정이 없으면 게시물 삭제하시면 됩니다" required>
    <% end %>
      <input type="hidden" name="user_id" class="form-control" value="<%= current_user.id %>">
      <input type="hidden" name="article_id" class="form-control" value="<%= @article.id %>">
    </div>
    <button type="submit" class="btn btn-primary">참가취소</button>
  </form>
  <% end %>
  
  <!--채팅방 개설 기능-->
  <!-- 채팅룸이 있고 게시물 작성자인 경우-->
  <% if @article.chatroom.present? && @article.user_id == current_user.id %>
    <%= link_to "채팅방 삭제", "/chatroom/destroy/#{@article.chatroom.id}", class: 'btn', data: { confirm: "채팅방을 삭제하시겠습니까??" } %>
  <% elsif @article.chatroom.present? == false && @article.user_id == current_user.id %>
    <form action="/chatroom/new" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="article_id" value="<%= @article.id %>">
      <button type="submit" class="btn">채팅방 개설</button>
    </form>
  <% else %>
    <p>채팅방은 게시물 권한자만 개설 및 삭제할 수 있습니다.</p>
  <% end %>
  
  <hr>
  <!-- 만약 모임이 아직 끝나지 않았다면 -->
  <%= link_to '모임완료', "/article/complete/#{@article.id}", data: { confirm: "모임이 끝나셨나요? 확인 버튼을 누르시면 모임이 끝나고 마이페이지에서 평가하시면 됩니다" } %>
<% elsif %>
  <hr>
  <p>완료된 모임입니다</p>
  <hr>
<% end %>
<%= link_to 'index 이동', '/article' %>
<%= link_to '수정', "/article/edit/#{@article.id}" %>
<%= link_to '삭제', "/article/destroy/#{@article.id}", data: { confirm: "삭제하시겠습니까?" } %>

<hr>
<!--여기서부터 댓글 기능 추가-->
<%=form_with scope: :comment, url: "/article/#{params[:id]}/comment/create", method: :post do |form| %>
<%= form.label :content, "댓글" %>
<%= form.text_field :content %>
<%= form.submit "입력" %>
<% end %>
<hr>
<% @article.comments.each do |c| %>
  <!--본인이 작성자가 아니라면 삭제 불가능해야함-->
  <% if c.user_id == current_user.id %>
    <p><%= User.find(c.user_id).email %>: <%= c.content %> | <%= link_to "삭제", "/article/#{params[:id]}/comment/#{c.id}/destroy" %></p>
  <% else %>
    <p><%= User.find(c.user_id).email %>: <%= c.content %></p>
  <% end %>
<% end %>