<!doctype html>
<html lang="ko">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--Rails tags-->
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!--icon library(ex. starring)-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <!--google material icon library-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title>친그라운드</title>
  </head>
  <body>
    <header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-light fixed-top" style="background-color: rgba(136, 176, 75)">
        <a class="navbar-brand" href="/" style="color:white;">CHINGROUND</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item <%= 'active' if request.original_fullpath == '/' %>">
            <a class="nav-link" href="/" style="color:white;">홈</a>
            </li>
            <li class="nav-item <%= 'active' if request.original_fullpath == '/article' %>">
            <a class="nav-link" href="/article" style="color:white;">게시판</a>
            </li>
            <li class="nav-item">
            <!--나의 모임에서 종합 관리-->
            <a class="nav-link" href="/myground" style="color:white;">나의 모임</a>
            </li>
            <li class="nav-item <%= 'active' if request.original_fullpath == '/chatroom/show' %>">
            <a class="nav-link" href="/chatroom/show" style="color:white;">채팅</a>
            </li>
            <li class="nav-item <%= 'active' if request.original_fullpath == '/rating' %>">
            <a class="nav-link" href="/rating" style="color:white;">별점</a>
            </li>
            <% if user_signed_in? %>
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="color:white;"><%= current_user.email %></a>
            <div class="dropdown-menu" aria-labelledby="dropdown">
                <a class="dropdown-item" href="/mypage">마이페이지</a>
                <a class="dropdown-item" href="<%= edit_user_registration_path %>">계정관리</a>
                <%= link_to "로그아웃", destroy_user_session_path, method: :delete, data: { confirm: "로그아웃 하시겠습니까?" }, class: 'dropdown-item' %>
            </div>
            </li>
            <% else %>
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="color:white;">로그인/회원가입</a>
            <div class="dropdown-menu" aria-labelledby="dropdown">
                <a class="dropdown-item" href="<%= new_user_session_path %>">로그인</a>
                <a class="dropdown-item" href="<%= new_user_registration_path %>">회원가입</a>
            </div>
            <% end %>
        </ul>
        <% if user_signed_in? %>
          <a id="noti_click" onclick="showHide('noti_html')"><b><i class="material-icons">priority_high</i>(<%= current_user.new_notifications.unread_by(current_user).count %>)</b></a>
          <div id="noti_html" style="display:none; margin-top: 10px;">
            <%= render partial: "new_notifications/new_notification", collection: current_user.new_notifications.unread_by(current_user) %>
            <br>
            <%= link_to '<b>모든 알림 지우기</b>'.html_safe, new_notifications_read_all_path, id: 'noti_delete' %>
            <a href="#" id="noti_close" onclick="showHide('noti_html')">| X (알림닫기)</a>
          </div>
        <% end %>
        <form class="form-inline mt-2 mt-md-0" action='/article/search' method="post">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input class="form-control mr-sm-2" type="text" placeholder="제목(상세페이지 이동)" aria-label="Search" name="title">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">찾기</button>
        </form>
        </div>
    </nav>
    </header>

    <!-- Begin page content -->
    <main role="main" id="section" style="width:75%; height:800px; display:inline-block; padding:20px 20px 20px 20px; margin-top:60px;">
        <%= render partial: "shared/flash_messages", flash: flash %>
        <%= yield %>
    </main>
    
    <% if user_signed_in? %>
    <a class="my_info" href="/mypage" style="text-decoration:none;">
        <div class="container">
        <h5>사용자: <%= current_user.email %></h5>
          <h6><% my_avg = RatingController.avg_rating(current_user.id) %></h6>
          <p>별점: <%= my_avg %>
            <span class="fa fa-star <%= "checked" if my_avg >= 1 %>"></span>
            <span class="fa fa-star <%= "checked" if my_avg >= 2 %>"></span>
            <span class="fa fa-star <%= "checked" if my_avg >= 3 %>"></span>
            <span class="fa fa-star <%= "checked" if my_avg >= 4 %>"></span>
            <span class="fa fa-star <%= "checked" if my_avg >= 5 %>"></span></p>
          <p>현재 참여 중인 그라운드 목록</p>
          <table class="table table-hover" style="font-size: 12px;">
            <thead>
              <tr>
                <th scope="col">번호</th>
                <th scope="col">제목</th>
                <th scope="col">장소</th>
                <th scope="col">관리</th>
              </tr>
            </thead>
            <tbody>
            <% WelcomeController.find_my_all(current_user.id).reverse.each do |article_id| %>
                <% temp = Article.find(article_id) %>
                <% if temp.active == true %>
                <tr>
                    <td scope="row"><%= article_id %></td>
                    <td><%= link_to "#{temp.title}", "/article/show/#{article_id}", style: "color:white;" %></td>
                    <td><%= temp.place %></td>
                    <td><%= link_to '보기', "/article/show/#{article_id}", style: "color:white;" %></td>
                </tr>
                <% end %>
            <% end %>
            </tbody>
          </table>
        </div>
    </a>
    <% end %>

    <!--footer-->
    <footer class="footer">
    <div class="container">
        <span class="text-muted">친구를 만드는 운동장 - "친그라운드"</span>
    </div>
    </footer>
    <script>
    function showHide(id) {
       var obj = document.getElementById(id);
       if (obj.style.display == 'none')
           obj.style.display = 'block';
       else
           obj.style.display = 'none';
    }
    </script>
  </body>
</html>